<div class="container mt-4">
    <div class="row">
      <div class="col-sm-4">
          <h1>Your Profile</h1>
      </div>
      <div class="col-sm-8">
          <div *ngIf="editForm.dirty" class="alert alert-info">
            <strong>Information:</strong> You have made changes. Any unsaved changes will be lost!
          </div>
      </div>      
    </div>
    <div class="row">
      <div class="col-sm-4">
        <div class="card">
          <img class="card-img-top img-thumbnail" src="{{ photoUrl || '/assets/user.png' }}" alt="{{ user.knownAs }}">
          <div class="card-body">
            <div>
              <strong>Location:</strong>
              <p>{{ user.city }}, {{ user.country }}</p>
            </div>
            <div>
              <strong>Age:</strong>
              <p>{{ user.age }}</p>
            </div>
            <div>
              <strong>Last Active:</strong>
              <p>{{ user.lastActive | timeAgo }}</p>
            </div>
            <div>
              <strong>Member since:</strong>
              <p>{{ user.created | date: 'dd MMMM yyyy' }}</p>
            </div>          
          </div>
          <div class="card-footer">
            <button [disabled]="!editForm.dirty" form="editForm" class="btn btn-success btn-block">Save Changes</button>  
          </div>
        </div>
      </div>
      <div class="col-sm-8">
        <div class="tab-panel">
          <tabset class="member-tabset">
            <tab heading="Edit Profile">
              <form #editForm="ngForm" id="editForm" (ngSubmit)="updateUser()">
                <div class="form-group">
                    <label for="introduction" class="text-primary">Description:</label>
                    <textarea class="form-control" name="introduction" id="introduction" rows="6" [(ngModel)]="user.introduction"></textarea>  
                </div>
                <div class="form-group">
                    <label for="lookingFor" class="text-primary">Looking For:</label>
                    <textarea class="form-control" name="lookingFor" id="lookingFor" rows="5" [(ngModel)]="user.lookingFor"></textarea>
                </div>
                <div class="form-group">
                    <label for="interests" class="text-primary">Interests:</label>
                    <textarea class="form-control" name="interests" id="interests" rows="3" [(ngModel)]="user.interests"></textarea>
                </div>
                <div class="form-group">
                    <label for="city" class="text-primary">Location Details:</label>
                    <div class="row">
                      <label class="col-2 col-form-label text-primary" for="city">City</label>
                      <div class="col-4">
                          <input type="text" class="form-control" name="city" id="city" [(ngModel)]="user.city">
                      </div>
                      <label class="col-2 col-form-label text-primary" for="country">Country</label>
                      <div class="col-4">
                          <input type="text" class="form-control" name="country" id="country" [(ngModel)]="user.country">
                      </div>
                    </div>
                </div>
              </form>              
            </tab>
            <tab heading="Edit Photos">              
              <app-photo-editor [photos]="user.photos"></app-photo-editor>
            </tab>           
          </tabset>
        </div>
      </div>
    </div>
  </div>